<!doctype html>
<html>
  <head>
    <%- include('./includes/head', { siteTitle: `我的阅读 | ${themeConfig.siteName}` }) %>
    <meta name="referrer" content="never">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/iMuFeng/bmdb@1.8.0/dist/Bmdb.min.css">
    <script type='text/javascript' src='https://cdn.jsdelivr.net/gh/iMuFeng/bmdb@1.8.0/dist/Bmdb.min.js'></script>
  </head>
  <body>
    <!-- start: #wrapper -->
    <div class="wrapper">
      
      <%- include('./includes/header') %>

      <main id="friends" class="main fullcover no-sidebar content">
        <div class="grid-container module-wrapper enable-masonry aos-init aos-animate" data-aos="fade-up">
        <div class="epcl-page-wrapper">
          <div class="section-content" style="margin-top:3em;"></div>
        </div>
        </div>
      </main>
    <%- include('./includes/footer') %>
    <script>
    new Bmdb({
      type: 'books',
      selector: '.section-content',
      secret: '<%= site.customConfig.bmdbSecret %>',
      noMoreText: '没有更多数据了',
      limit: 30
    })
    </script>
    </div>
    <!-- end: #wrapper -->
  </body>
</html>