            <div class="epcl-pagination section">
              <div class="nav">
                <% if (pagination.prev) { %>
                  <a href="<%= pagination.prev %>" class="prev button red">上一页</a>
                <% } %>
                <% if (pagination.next) { %>
                  <a href="<%= pagination.next %>" class="next button red">下一页</a>
                <% } %>
              </div>
            </div>